<div class="col-sm-10 col-sm-offset-1">
   <div class=row>
	   <div class="col-sm-6">
	      <h2>Sign Up</h2>
	      <input type="text" class="form_control" ng-model="signUpInfo.username" placeholder="Enter Username">
	      <input type="password" class="form_control" ng-model="signUpInfo.password" placeholder="Enter Password">  
	      <button ng-click="signUserUp()">Sign-Up</button>       
	   </div>
	   
	   <div class="col-sm-6">
	      <h2>Login</h2>
	      <input type="text" class="form_control" ng-model="loginInfo.username" placeholder="Enter Username">
	      <input type="password" class="form_control" ng-model="loginInfo.password" placeholder="Enter Password">
	      <button ng-click="loginUser()">Login</button>
	   </div>  
   </div>
</div>